body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}
header.main-header {
  padding: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
}
header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1.h13 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 70px;
  color: rgb(82, 82, 82);
}
h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: rgb(82, 82, 82);
  text-align: center;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p.p3 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: rgb(82, 82, 82);
}
#wrapper {
  width: 70%;
  margin: 0 auto;
}
a {
  color: rgb(82, 82, 82);
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}
.hover-img {
  transition: transform 0.3s ease;
}
.hover-img:hover {
  transform: scale(1.05);
}
.skills-list {
    width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
.skill-item {
    background: #f4f4f4;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.check {
    color: #26a526;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
}
.skill-item:hover {
    background: #e9e9e9;
    transform: scale(1.01);
    transition: 0.2s ease;
}
p.pfooter {
  padding: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
footer{
    clear: both;
    height: 80px;
    background: #333;
    float: none !important;
}
.body {
  padding-top: 50px;
  font: 14px/18px Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
  background-image: url(../images/backgroundtile.png);
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
#footer .column {
  float: left;
  width: 25%;
}
#footer .column div {
  margin: 5px;
  height: 200px;
  background: #eeeeee;
}
a.footer  {
  color: rgb(0, 195, 255);
  text-decoration: none;
  font-weight: 300;
  margin-right: 10px;
}